<footer>
    <span>by Friso Denijs</span>
    <span>
        <a href="https://github.com/FrisoDenijs/url-shortener">
            <img class="footer_img" src="images/GitHub-Mark-64px.png">
        </a>
    </span>
</footer>